


H1 {
text-align: center
}

H2 {
text-align: center
}


.bg_global{
	background-color: rgb(252, 248, 232);
}

th {
  background-color: #94B49F;
  color: white;
	text-align: : center;
}

.bg_footer {
  background-color: rgb(223, 120, 97);
	text-align:center;
}
